name: four_gospels
description: Four Gospels App
version: 0.0.1+2
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  auto_route: ^4.2.1
  badges: ^2.0.3
  bloc: ^8.0.3
  cloud_firestore: ^4.3.1
  dropdown_button2: ^1.7.1
  equatable: ^2.0.3
  firebase_analytics: ^10.1.0
  firebase_auth: ^4.2.5
  firebase_core: ^2.4.1
  firebase_crashlytics: ^3.0.11
  flutter:
    sdk: flutter
  flutter_animation_progress_bar: ^2.2.1
  flutter_bloc: ^8.0.1
  flutter_localizations:
    sdk: flutter
  google_fonts: ^4.0.1
  intl: ^0.17.0
  meta: ^1.8.0
  shared_preferences: ^2.0.15

dev_dependencies:
  auto_route_generator: ^4.2.0
  bloc_test: ^9.0.3
  build_runner:
  flutter_native_splash: ^2.2.15
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  very_good_analysis: ^3.1.0

flutter_native_splash:
  color: "#003b77"
  image: assets/splash.png
  fullscreen: true

flutter:
  uses-material-design: true
  generate: true
