name: four_gospels
description: Four Gospels App
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  auto_route: ^4.2.1
  bloc: ^8.0.3
  cloud_firestore: ^3.3.0
  dropdown_button2: ^1.7.1
  equatable: ^2.0.3
  firebase_analytics: ^9.1.12
  firebase_auth: ^3.4.2
  firebase_core: ^1.19.1
  firebase_crashlytics: ^2.8.5
  flutter:
    sdk: flutter
  flutter_animation_progress_bar: ^2.2.1
  flutter_bloc: ^8.0.1
  flutter_localizations:
    sdk: flutter
  google_fonts: ^3.0.1
  intl: ^0.17.0
  shared_preferences: ^2.0.15

dev_dependencies:
  auto_route_generator: ^4.2.0
  bloc_test: ^9.0.3
  build_runner:
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  very_good_analysis: ^3.0.1

flutter:
  uses-material-design: true
  generate: true
